<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>판다마켓</title>
  </head>

  <body>
    <header>
      <nav class="header-navbar">
        <div id="logo-container">
          <a href="/"
            ><img
              class="logo-image"
              src="../images/logo.png"
              alt="Panda Market logo"
          /></a>
          <p>판다마켓</p>
        </div>

        <ul>
          <li><a href="login.html" class="login-btn">로그인</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="banner-section">
        <div class="banner-text">
          <p>일상의 모든 물건을<br />거래해 보세요</p>
          <a href="products.html" class="products-btn">구경하러 가기</a>
        </div>
      </section>
    </main>
  </body>
</html>
